@import '../common.scss';

.cardWrapper {
  display: flex;
  flex-direction: column;

  position: relative;
  border-bottom: 1px solid $gray2;
  outline: none;
  cursor: pointer;
}

.cardContainer {
  padding-bottom: $spacing--f;
  width: 100%;
}

.actionItems {
  margin-top: 0px;
  margin-bottom: 0px;
}

.radioActionItems {
  margin-top: 0px;
  margin-bottom: 0px;
  gap: 29px;
  padding-bottom: $spacing--f;
}

.selected {
  border: 1px solid rd-color('blue', '60');
}

.bodyWidthAdjust {
  width: calc(100% - 28px);
}

.title {
  font-size: 14px;
  font-weight: bold;
}

.subtitle {
  font-size: 14px;
  line-height: 20px;
  margin-top: $spacing--d;
  margin-bottom: $spacing--c;
}

.button {
  width: 100%;
}

.radioWrapper {
  display: flex;
  align-items: center;
}

.radioButton {
  width: 16px;
  height: 16px;
  margin-right: $spacing--c;
}

.radioLabel {
  font-size: 14px;
  line-height: 20px;
}

