@import '../common.scss';

.cardWrapper {
  display: flex;
  flex-direction: column;

  position: relative;
  border-bottom: 1px solid $gray2;
  outline: none;
  cursor: pointer;
}

.actionItems {
  margin-top: $spacing--d;
  margin-bottom: $spacing--d;
}

.selected {
  border: 1px solid rd-color('blue', '60');
}

.cardSectionWrapper {
  padding: $spacing--c;
}

.bodyWidthAdjust {
  width: calc(100% - 28px);
}

.title {
  font-size: 13px;
  font-weight: bold;
  color: $gray4-5;
}

.subtitle {
  font-size: 13px;
  line-height: 20px;
}
