.ts-logo {
    margin: 20px;
}

.free-trial {
    padding-top: 90px;
    background-color: #F0F4F7;
    height: 100%;
    margin: 8px;
}

.horizontalWrapper {
    padding-top: 24px;
}

.text {
    font-size: 16px;
    line-height: 24px;
}

.card {
    background-color: #fff;
}

.title {
    color: #000;
    font-size: 20px;
}