.ts-logo {
    margin: 20px;
}

.free-trial {
    padding-top: 90px;
    background-color: #F0F4F7;
    height: 100%;
    margin: 8px;
}

.icon-wrapper {
    max-width: 616px;
}

.text {
    font-size: 16px;
    line-height: 24px;
}

.first-card {
    background-color: #fff;
    margin-right: 28px;
    border-radius: 8px;
    min-width: 260px;
}

.second-card {
    background-color: #fff;
    border-radius: 8px;
}

.title {
    color: #000;
    font-size: 20px;
}

.card-wrapper {
    padding-top: 32px;
}

.plus-sign {
    padding-top: 7%;
    padding-left: 40px;
    font-weight: 700;
}