@import 'widgets/lib/common.scss';

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.item-title {
  @include rd-font--bold;
  padding: $spacing--b;
  border-bottom: 1px solid $gray6;
}

.description {
  padding: $spacing--b;
  line-height: 1.6;
}

.box {
  margin-top: $spacing--i;
  height: 60%;
  box-sizing: border-box;
}

.checkbox {
  display: flex;
  margin-top: $spacing--e;
}

.buttonContainer {
  margin-top: $spacing--e;
}

.loader {
  width: 40px;
  aspect-ratio: 1;
  display: grid;
  -webkit-mask: conic-gradient(from 22deg, #0003,#000);
          mask: conic-gradient(from 22deg, #0003,#000);
  animation: load 1s steps(8) infinite;
  text-align: center;
}
.loader,
.loader:before {
  --_g: linear-gradient(#6a6a73 0 0) 50%;
  background: 
    var(--_g)/34% 8%  space no-repeat,
    var(--_g)/8%  34% no-repeat space;
}
.loader:before {
  content: "";
  transform: rotate(45deg);
}
@keyframes load {
  from {transform: rotate(0turn)}
  to   {transform: rotate(1turn)}
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}