@import 'widgets/lib/common.scss';

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.item-title {
  @include rd-font--bold;
  padding: $spacing--b;
  border-bottom: 1px solid $gray6;
  font-size: $spacing--f;
}

.description {
  padding: $spacing--b;
  line-height: 1.6;
}

.box {
  margin-top: $spacing--i;
  height: 60%;
  box-sizing: border-box;
}

.checkbox {
  display: flex;
  margin-top: $spacing--e;
}

.buttonContainer {
  margin-top: $spacing--e;
}
