@import 'widgets/lib/common.scss';

.container {
    width: 100%;
    height: 100%;
}

.heading {
    @include rd-font--bold;
    font-size: $spacing--f;
    margin-bottom: $spacing--c;
    width: 100%;
    border-bottom: 1px solid $gray6;
}

.fullApp {
    justify-content: flex-end;
    flex-grow: 1;
}

.modal {
    position: relative;
    padding: $spacing--c;
    background-color: $white;
    text-align: center;
    border-radius: $spacing--b;
    width: 100%;
    overflow: auto;
}

.buttonContainer {
    padding-top: $spacing--e;
}