@import 'widgets/lib/common.scss';

.listPage {
    height: 100%;
}

.tabHeader{
    background-color: $white;
}
.tabIcon{
    filter: grayscale(1);
    color: #1d232f;
    &:hover{
        filter: grayscale(0);
        color: $blue1;
    }
}

.segment {
    background-color: $gray0;
    padding: $spacing--d;
    padding-top: $spacing--c;
    padding-bottom: 0px;
  }