@import 'widgets/lib/common.scss';

.liveboardContainer {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.succesBanner {
  margin: 0px;
  width: 100%;
}

.errorBanner {
  margin: 0px;
  width: 100%;
}

.dropdownContainer {
  margin: $spacing--c $spacing--d $spacing--d;
  gap: $spacing--b;
}

.apnastyle {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}