.stepper {
    justify-content: space-between;
    min-width: 195px !important;
    height: 100%;
}

.docsContainer {
    overflow: auto;
    height: 100%;
    justify-content: space-between;
    padding: 20px;
    background-color: #f6f8fa;
}

.loader {
    width: 40px;
    aspect-ratio: 1;
    display: grid;
    -webkit-mask: conic-gradient(from 22deg, #0003,#000);
            mask: conic-gradient(from 22deg, #0003,#000);
    animation: load 1s steps(8) infinite;
    text-align: center;
  }
  .loader,
  .loader:before {
    --_g: linear-gradient(#6a6a73 0 0) 50%;
    background: 
      var(--_g)/34% 8%  space no-repeat,
      var(--_g)/8%  34% no-repeat space;
  }
  .loader:before {
    content: "";
    transform: rotate(45deg);
  }
  @keyframes load {
    from {transform: rotate(0turn)}
    to   {transform: rotate(1turn)}
  }

  .loadingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }
  