.container {
    margin: 20px;
}

.heading {
  font-size: 20px;
  margin-bottom: 10px;
}

.divider {
  width: 100%;
  border-top: 1px solid #ccc;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
}

.button {
  margin-right: 10px;
}

.codeSample {
  background-color: '#f0f0f0';
  padding: '8px';
  border: '1px solid #ccc';
  border-radius: '5px';
  margin-top: '20px';
  margin-bottom: '20px';
}
