@import 'widgets/lib/common.scss';

.container {
    margin: $spacing--e;
}

.heading {
  font-size: 20px;
  margin-bottom: $spacing--c;
  border-bottom: 1px solid $gray6;
}

.noteContainer {
  margin-top: $spacing--e;
  margin-bottom: $spacing--e;
  border-left: 3px solid $red1;
}

.noteHeading {
  @include rd-font--bold;
  font-size: $spacing--d;
  padding-bottom: $spacing--c;
  padding-left: $spacing--c;
}

.noteDescription {
  margin-bottom: $spacing--c;
  padding-left: $spacing--c;
}

.button {
  margin-right: $spacing--c;
}
