@import 'widgets/lib/common.scss';

.container {
    padding: $spacing--e;
}

.heading {
  @include rd-font--bold;
  font-size: $spacing--f;
  margin-bottom: $spacing--c;
  width: 100%;
  border-bottom: 1px solid $gray6;
}

.button {
  margin-right: $spacing--c;
}

.noteContainer {
  margin-top: $spacing--e;
  border-left: 3px solid $gray6;
}

.noteHeading {
  @include rd-font--bold;
  font-size: $spacing--d;
  padding-bottom: $spacing--c;
  padding-left: $spacing--c;
}

.text {
  margin-bottom: $spacing--b;
  line-height: 1.6;
}

.noteDescription {
  margin-bottom: $spacing--c;
  padding-left: $spacing--c;
}

.buttonContainer {
  padding-top: $spacing--e;
}

.loader {
  width: 40px;
  aspect-ratio: 1;
  display: grid;
  -webkit-mask: conic-gradient(from 22deg, #0003,#000);
          mask: conic-gradient(from 22deg, #0003,#000);
  animation: load 1s steps(8) infinite;
  text-align: center;
}
.loader,
.loader:before {
  --_g: linear-gradient(#6a6a73 0 0) 50%;
  background: 
    var(--_g)/34% 8%  space no-repeat,
    var(--_g)/8%  34% no-repeat space;
}
.loader:before {
  content: "";
  transform: rotate(45deg);
}
@keyframes load {
  from {transform: rotate(0turn)}
  to   {transform: rotate(1turn)}
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  width: 100%;
}
