//   ========================================================================
//   #FONT COLOR VARS
//   ========================================================================
$yellow1: #BF982A;

$green1: #12875C;

$red1: #F04152;

$blue1: #2770ef;
$blue2: #2359b6;

$purple1: #8C62F5;

$teal1: #48D1E0;

$gray0: #f6f8fa;
$gray1: #eaedf2;
$gray2: #dbdfe7;
$gray3: #c2c8d1;
$gray4: #a4abb8;
$gray5: #4a515e;
$gray6: #1d232f;

$white: #ffffff;

$text-color: $gray6;
$text-color-alternate: $white;
$text-warning: $yellow1;
$text-success: $green1;
$text-failure: $red1;