//   ========================================================================
//   #FONT COLOR VARS
//   ========================================================================
$yellow1: #bf982a;

$green1: #12875c;

$red1: #f04152;
$red2: #E22B3D;

$blue1: #2770ef;
$blue2: #2359b6;

$purple1: #8c62f5;

$teal1: #48d1e0;

$gray0: #f6f8fa;
$gray1: #eaedf2;
$gray2: #dbdfe7;
$gray3: #c2c8d1;
$gray4: #a4abb8;
$gray4-5: #757575;
$gray5: #4a515e;
$gray6: #1d232f;

$white: #ffffff;

$text-color: $gray6;
$text-color-alternate: $white;
$text-warning: $yellow1;
$text-success: $green1;
$text-failure: $red1;
