$spacing--a: 4px;
$spacing--b: 8px;
$spacing--c: 12px;
$spacing--d: 16px;
$spacing--e: 20px;
$spacing--f: 24px;
$spacing--g: 28px;
$spacing--h: 32px;
$spacing--i: 40px;
$spacing--j: 48px;
$spacing--k: 56px;
$spacing--l: 64px;

$layout--radius-round:   50% !default;
$layout--radius-reset:   0 !default;
$layout--disabled-opacity: .4;

$animation--slowly: 0.4s !default;
$animation--slide:	0.25s !default;
$animation--promptly: 0.2s !default;

$animation--ease: cubic-bezier(0.645, 0.045, 0.355, 1);