@import '../common.scss';

.btn {
  border-radius: 100vh;
  padding: 6px 24px;
  border: none;
  cursor: pointer;
  font-size: 14px;

  &:disabled {
    cursor: not-allowed;
  }
}

.primary-btn {
  background-color: $blue1;
  color: $text-color-alternate;

  &:hover {
    background-color: $blue2;
  }
}

.secondary-btn {
  background-color: $gray1;
  color: $text-color;

  &:hover(:not(:disabled)) {
    background-color: $gray2;
  }

  &:disabled {
    background-color: $gray0;
  }
}

.icon-btn {
  padding: 9px 9px 6px 9px;
}
