.modal {
  position: relative;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  max-width: 900px;
  text-align: center;
  border-radius: 8px;
  height: 100%;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

.header {
  font-weight: bold;
  font-size: 24px;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  padding: 12px 0;
}

td {
  padding: 12px 0;
}

.subtitle {
  color: #777E8B;
  margin-bottom: 30px;
}

.option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 20px;
}

.option input[type="radio"] {
  margin-right: 10px;
}

.checkbox {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

