@import '../common.scss';

.name {
  align-items: center;
  margin-top: $spacing--b;
  justify-content: space-between !important;
}

.row {
    justify-content: space-between;
    align-items: center;
}

.evenRow {
    background-color: $white;
}
  
.oddRow {
    background-color: $gray0;
}

.itemWrapper {
  border-bottom: 1px solid $gray1;
  width: 100%;
  height: 85px;
}
.item-title {
  @include rd-font--bold;
  min-width: 84px !important;
}
.item {
  padding-bottom: $spacing--b;
  padding-top: $spacing--b;
}
.listItemDetails {
  width: 100%;
}

.renderItemContainer {
  height: 85px;
  padding: 0 $spacing--d;
  cursor: pointer;
}

.emptyData {
  padding: $spacing--d;
  > svg {
    height: 100px !important;
    width: 100px !important;
  }
  .emptyDataText {
    margin: 0 30px;
  }
}

.radio {
    margin: 0;
}

.listContent {
  flex: 1 1 0;
  overflow: auto;
}

.listContainer {
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.loader {
  width: 100%;
  height: 100%;
  align-content: space-around;
  justify-content: space-around;
  flex-wrap: wrap;
}

.refetchLoader {
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.textIcon {
    align-items: center;
    min-width: 180px !important;
}