@import '../common.scss';

.dayIsSelected {
    background-color: rgba(#71A1F4, .12);
    width: $spacing--h + $spacing--a;
    max-height: $spacing--h;

    border-radius: 6px;
    height: $spacing--c * 3;
    user-select: none;

    &:hover {
        cursor: pointer;
    }
}

.dayIsNotSelected {
    background-color: #EAEDF2;
    width: $spacing--h + $spacing--a;
    max-height: $spacing--h;

    border-radius: 6px;
    height: $spacing--c * 3;
    user-select: none;

    &:hover {
        cursor: pointer;
    }
}

.dayPickerErrorScheduler {
    margin-top: -12px;
    margin-bottom: $spacing--a;
    color: #E22B3D;
    display: flex;
}

.dayPickerErrorText {
    color: #E22B3D;
    margin-left: $spacing--a;
    font-size: 14px;
    line-height: 14px;
}