@import '../common.scss';

.radioWrapper {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.radioButton {
    width: 16px;
    height: 16px;
    margin-right: $spacing--c;
    margin-left: 0px;
    margin-top: 0px;
}

.radioLabel {
    font-size: 14px;
    line-height: 20px;
    vertical-align: middle;
}