.search-bar {
  height: 100%;
  width: 100%;
}

.search-bar-iframe {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.success-banner, .error-banner {
  margin-top: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  width: 100% !important;
}