@import 'widgets/lib/common.scss';

.heading {
  @include rd-font--bold;
  font-size: $spacing--f;
  margin-bottom: $spacing--c;
  width: 100%;
  border-bottom: 1px solid $gray6;
}

.button {
  margin-right: $spacing--c;
}

.noteContainer {
  margin-top: $spacing--c;
  border-left: 3px solid $gray6;
}

.noteHeading {
  @include rd-font--bold;
  font-size: $spacing--d;
  padding-bottom: $spacing--c;
  padding-left: $spacing--c;
}

.text {
  margin-bottom: $spacing--b;
  line-height: 1.6;
}

.noteDescription {
  margin-bottom: $spacing--c;
  padding-left: $spacing--c;
  line-height: 1.6;
}

.buttonContainer {
  padding-top: $spacing--e;
}

.font {
  font-size: 14px;
}
