@import '../common.scss';

.header {
    padding: $spacing--a $spacing--h;
    height: $spacing--l;
    background-color: #303540;
}

.headerLogo {
    display: $white;
    height: $spacing--j;
    width: $spacing--j;
    margin-right: $spacing--f;
}

.headerInfo {
    display: flex;
    flex-direction: row;
    margin-top: $spacing--a;
}

.headerTitle {
    margin-top: $spacing--d;
    margin-bottom: $spacing--e;
}