@import 'widgets/lib/common.scss';

.set-url-container {
  margin: 10px;
}

.ts-cluster-url {
  width: 100%;
}

.invalid-url-error {
  margin-bottom: 12px !important;
}

.free-trial-msg {
  color: $gray4;
  font-size: 12px;
}

.ts-logo {
  margin: 20px;
}