@import 'widgets/lib/common.scss';

.ts-cluster-url {
  width: 100%;
  border-radius: 6px;
  border: 1px solid $gray2;
  background-color: transparent;
  color: #777E8B;

  &:focus {
    border: 1px solid $blue1;
  }
}

.invalid-url-error {
  margin-bottom: 12px !important;
}

.free-trial-msg {
  color: #777E8B;
  font-size: 12px;
}

.description {
  font-size: 14px;
  line-height: 20px;
}

.ts-instance-msg {
  font-size: 12px;
  color: $gray4;
  line-height: 16px;
}

.title {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
}

.continue-button {
  width: 100%;
  margin-top: $spacing--b;
  margin-bottom: $spacing--d !important;
}