@import 'widgets/lib/common.scss';

.heading {
    font-size: 20px;
    margin-bottom: $spacing--c;
    border-bottom: 1px solid $gray6;
}

.container {
    padding-right: $spacing--j;
}

.buttonContainer {
    margin: 10%;
    text-align: center;
}

.description {
    margin-top: $spacing--c;
    line-height: 1.6;
}